<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Pets</title>
</head>
<body>
<h1>Pets Home</h1>

<div class="container">


    <div class="row">
        <div class="col-md">
            <h1 id="desc">Description samoyed Duc Tram and Vuong</h1>
            <h2>The Samoyed is a medium-sized dog with a height ranging from 19 to 23 1/2 inches and weight from 50 to 65 pounds (23 to 29 kilograms). Samoyeds are squarely built, sturdy dogs, with a fluffy plumed tail curled over the back and draped to one side. The ears are prick and the head is broad.
            </h2>
        </div>
        <div class="col-md">
            <img src="images/samoyed.png" alt="Samoyed dog">;
        </div>
    </div>
</div>
<p>Aren't they cute?</p>
<button class="btn-primary">Place Order</button>
</body>
</html>