body{
    background-color: gray;
}
h2 {
    display: flex;
    float: right;
    width: 45%;
    color: white;
}
#desc {
    text-align: center;
}

h1{
    text-align: center;
}

.btn-primary {
    margin-top: 2em;
    background-color: yellow;
    border: none;
}

.btn-primary:hover {
    background-color: yellow !important;
}